#geocoder {
    z-index: 1;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

html, body {
    height: 100%;
}

main {
    min-height: 100% !important;
}

.card-rounded {
    border-radius: 28px;
    border: 0;
}

/* For pixes less than 576*/
.container {
    max-width: 720px!important;
    width: 90%;
    padding: 50px 0 !important;
}

.card-body {
    padding: 0.5rem!important;
}

@media (min-width: 576px) {
    .card-body {
        padding: 3rem!important;
    }
}